.movieposter{
    background-image: url(movieposter.png);
    background-size: cover;
    width: 350px;
    height: 290px;
    margin-top: 1rem;
}
.titles1-1{
    margin-top: 4rem;
    margin-left: 4rem;
}
.vm{
    width: 36vw;
    padding-top: 5px;
}
.contines1-1{
    margin-top: 11px;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
    margin-bottom: 29px;
}
.titles1-1{
    display: grid;
    grid-template-columns: 490px 650px;
    grid-template-rows: 138px;
}
.contines1-1{
    grid-column: 1 / 1;
}
.continer2-1{
    grid-column: 2 / 2;
    grid-row: 1;
    /* margin-left: 60px; */
    padding-left: 97px;
}
.tiles1-para{
    width: 50%;
}
.cones{
    display: flex;
    background-color: black;
    padding-top: 10px;
    padding-left:10px;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}
.inp-3{
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    border: none;
    margin-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 5px;
}
.con{
    width: 44%;
    /* flex-basis: 31%; */
    padding-left: 12px;
    margin-bottom: 20px;
}
.conesss{
    padding-left: 15px;
}
.textares{
    border: 1px solid rgb(26, 26, 26);
    border-radius: 5px;
    background-color: rgb(26, 26, 26);
    padding-top: 65px;
    padding-bottom: 20px;
    padding-left: 290px;
    padding-right: 35px;
}
.sum{
    display: flex;
    align-items: baseline;
    gap: 48px;
}
/* grid-template-rows: 400px; */