.FO-div{
    background-color: black;
    color: whitesmoke;
    padding-bottom: 1rem;
}
.Fo-box{
    display: flex;
    justify-content: space-evenly;
    align-items: safe;
    text-align: start;
    font-family: "Roboto", serif;
    font-style: normal;
    padding-top: 5rem;
    padding-bottom: 3rem;

}
.Fo-list{
    list-style: none;
}
.Fo-list-head{
    font-weight: 900;
}
li{
    margin-bottom: 0.5rem;
}
.Fo-input{
    position: relative;
    padding: 13px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: black;
    color: gray;
    z-index: 0;
    top: 0%;
    left: 0;
}
.Fo-input-Font{
    position: absolute;
    left: 23%;
    top: 571%; 
    z-index: 1;
    font-size: 1.5rem;
    color: whitesmoke;
}
.Copyright{
    text-align: end;
    color: rgb(97, 94, 94);
}