@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Sup-box {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 9rem;
    gap: 7rem;
    font-family: "Poppins", sans-serif;
}

.Sup-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 2rem;
    width: 26%;
}

.Sup-int {
    padding: 5px;
    border-style: none;
    border-bottom: 1px solid gray;
    margin-bottom: 7px;
}

.Sup-btn {
    background-color: rgb(216, 26, 26);
    border-radius: 3px;
    border-style: none;
    padding: 10px;
    margin-top: 5px;
    color: whitesmoke;
}

.btn2 {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.Sup-p {
    color: gray;
    margin: 13px;
}

.Log-box {
    display: flex;
    align-items: baseline;
    gap: 23px;
}
.Log-btn{
    width: 50%;
}
.Sup-par{
    color: rgb(216, 26, 26);
    width: 100%;
}